.ReasonOption {
    display: flex;
    align-items: center;
    padding-right: 4px;
    padding-left: 12px;
    border-radius: 12px;
    background: var(--center-channel-color-08);
    cursor: pointer;
    gap: 5px;
}